language: c

addons:
  apt:
    packages:
      - rsync
      - upx

os:
  - linux
  - osx

before_install:
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew update && brew install rsync upx; fi

script:
  - pip install -r requirements.txt pyinstaller
  - pyinstaller --clean /src/riseml.spec
