sudo: false

language: c
addons:
  apt:
    packages:
    - upx

os:
- linux
- osx

before_install:
- if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then
    brew update && brew install upx;
    wget https://repo.continuum.io/miniconda/Miniconda3-latest-MacOSX-x86_64.sh -O ~/miniconda.sh;
  elif [[ "$TRAVIS_OS_NAME" == "linux" ]]; then
    wget https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O ~/miniconda.sh;
  fi
- bash ~/miniconda.sh -b -p $HOME/miniconda
- export PATH="$HOME/miniconda/bin:$PATH"
- export LD_LIBRARY_PATH="$HOME/miniconda/envs/py3/lib:$LD_LIBRARY_PATH"

script:
# install dependencies
- conda create -y -n py3 python=3.5
- source activate py3
- pip install -r requirements.txt pyinstaller

# install rsync from scratch
- wget https://download.samba.org/pub/rsync/rsync-3.1.2.tar.gz
- tar xvzf rsync-3.1.2.tar.gz
- mv rsync-3.1.2 rsync
- cd rsync
- ./configure --prefix=/usr
              --with-included-popt
              --with-included-zlib
              --disable-iconv
              --disable-iconv-open
- make
- cd -

# build binary
- pyinstaller --clean riseml.spec --distpath dist/$TRAVIS_OS_NAME
- cp dist/$TRAVIS_OS_NAME/riseml dist/riseml_$TRAVIS_OS_NAME

deploy:
  - provider: releases
    skip_cleanup: true
    api_key:
      secure: K1wuc00Qzp8wAA74DbKfibOewhhsHqlFQ0ZhRkko1NN0Re/fUqFwbP1rJDxdBRlPKZ/QL0ThkkGu/6hJH4TVMPiM0G81V58PcjtXk52oaXuUX+0NYxeXERvb3I6NBizu+3//jJHHd68UkCWPSZpggdNoNpqACPoEGDjw712NgnPf2yXbE52nG1OC6R8JoOCAjumycJSePULMmrhUKk/jyeXjDlHbeRdjyCDXjefMGCzqq65FOvdowgQ63oOe0A4r5A0hvUTcsQZJDYNnULOh6DocJGIgCLtaOJGnCiouECMoxPRhFalsYPPSkL722q2kxcizEm96G9t1IXpJY52P9Sgcr/xh8K+59RmQn+Cn13XZvHgXuLXJkico9jkQtIcCV4FED0eciiAh/wQT7q3/C0rfzgAb+svTJWR0YWSg5ryQqcinQlpWKloAIEPMcqfnNDUscRjSAGTmQKJhg5zF+7IVZOOid+oC6Nan3c3ZnlukRZvaWvzkSWEhE+dPM5q3gJS2Wr7hVP+4rLmTCemKtoWJZatc15OvTieqDyZGHJxcXo8AuWNEYdozH4IlcD+1obxiY99OGJ+Jck9gbKfPv4tPjR0PH6wllZYNlg8hUzBFQBnmqDOwn5mVcZCDUAaGLv2Rp1N20TN5Og6R0jK6rTqpX496MYViyPKz0Zvb3OA=
    file_glob: true
    file: dist/riseml_*
  - provider: s3
    skip_cleanup: true
    access_key_id: AKIAJD34GLT7JZCXW2QA
    secret_access_key:
      secure: N90XrSeoL7PSq/bjAaDOKot9urdfK+/4+flEG751KBvSkYIk+5MYqi7/xdhRr6a4nCtj1aUPc0YE0ng+wojjHxpjHnenDfG4GTAptchXKiQplRrQ9I6jbcsfC0faB9ILyW48Cz8xTIc4ukR6HbCwbCJkYKvDqlUfJMGRNV81EyCi+44r98AI0ZrUS4dz1VcLK8tkDtJFvXkXTNKtbdFGIa3xauYjXG44jS+nyGxA9qlvGOzc84b3EjWb33F3vs8quh6PfODFsxryIrJ76f1LBUDf9R9hcEre9AKEBb3ivq9IrAYNjZlRFNFRp7CjAZmghFzbhpQSTdLFXYB0qkUvRFbbIr4tXa41w1a0NPuzzdeR4TrddFClEYBTHgbJ4q4SvqE18hrEkHxSVlHhluTXzN9NU9seMALGqx4ndc/6Y6tPk8KlhxNa5SBOznCDdaZcxj0IKwo+Bl/IxpynLqcdIQMT7VIPxEIjXP7zn7Rvqba9eRBrS49S/MfsjJ2bwJpo63vDXWD381rArnG5aenYMyXoO7bJa8elPDfuL+6eKLGSsu+/x3kykrJpYznOo0ZVD1fjysmthW2+hzWsMOdFVoPzjiO8AUlq5p7XQwKRLH3f/7G45aYrj84pwLO/UnhyJqZwr1Df0yVT7dmbz1bu6Ad2hW/QJ8Uq56Tga83oWRQ=
    bucket: cdn.riseml.com
    region: us-west-2
    local-dir: dist/$TRAVIS_OS_NAME
    upload-dir: releases/$TRAVIS_TAG/$TRAVIS_OS_NAME

notifications:
  slack:
    secure: OpF4eN076hICS8hf/cE2q0kTsSxfhHO83txcAJm8QgCv8NomRvp/uQTWPCDWUhkN6ufo94GwpM4XkfUXcrpOps+y8JsREZtExi2tQjni4jOKxZmacS1OuJ/hK1m1tVs/eY9WJQscFlykWpPJzlIZghpu1JU7Cwe2MfYW0IdKl0WHhfMtzthaB6o6ZICF9WQtoKS5eTZ4/S5sOAdfw2jcELlGclCxkZCW2OF7eeodbkCWtTEfaOxwkNz1Ty8gjXRMIk+5ZCYGh/NVA9peUOTMXL9/LIKz7nnbnBZwiElNUOT1R4mNDrgoVIs0CgyLWk89JH6FaYD4McbxJwlF2MN52lSOu1nKgBtfj3h2dyYwLs7YNt+VaErIQXALz1yUbagA+SOMqxifW7KJpdCzs3HOJ/evzai+KH1TwVyIEw7zNudEeYLj8yDOxZT3taGH8Bf2hGh1PSUlJtV9JWBp/6JZivkCEcniO9orZZuhYQFizuwq6hklHgiIJuN+8COXZBz51cV+ukHhxQJWcT+hZDX/zq00QiR1czAyqyGpZzSqhh2bbUhYpLlrn6sAJgkNM7J+Y+4EQUGyXB0h2i7I9/ZOP5TZsRJnUDwKDtCPF0aiLnGvQX7PmR72OLxrAQFL5dFHRxFi9zHHXZd7g1Pwetyj4mWNYrblPSi7o2Q8rBtkogY=
