urllib3>=1.15
six>=1.10
certifi
python-dateutil
future
pyyaml
requests
-e git+https://github.com/riseml/config-parser.git@9a88fbab22d7acab9f28489ce61b7a6ecd917535#egg=config_parser
jsonschema
websocket-client
rollbar
stringcase
