urllib3>=1.15
six>=1.10
certifi
python-dateutil
future
requests
-e git+https://github.com/riseml/config-parser.git@66163ade51e491425eaae67c6ae82a192306bd24#egg=config_parser
jsonschema
websocket-client
rollbar
stringcase
