# coding: utf-8

{{>partial_header}}

import sys
from setuptools import setup, find_packages

NAME = "{{packageName}}"
VERSION = "{{packageVersion}}"
{{#apiInfo}}{{#apis}}{{^hasMore}}

REQUIRES = ["urllib3 >= 1.15", "six >= 1.10", "certifi", "python-dateutil"]

REQUIRES += ['pyyaml', 'requests']

setup(
    name=NAME,
    version=VERSION,
    description="{{appName}}",
    author_email="{{infoEmail}}",
    url="{{packageUrl}}",
    keywords=["Swagger", "{{appName}}"],
    install_requires=REQUIRES,
    packages=find_packages(),
    include_package_data=True,
    long_description="""\
    {{appDescription}}
    """
)
{{/hasMore}}{{/apis}}{{/apiInfo}}
